# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.spacero.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\github\prjs-uon\spacero\.idea\.idea.spacero\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
